<footer>
<nav class="round">
  <ul>
    <li>
      <%= link_to "Home", root_path %>
      <%= link_to "About", about_path%>
      <%= link_to "Contact",contact_path %>
      <%= link_to "Help", help_path%>
    </li>
  </ul>
</nav>
</footer>